.show-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 2rem;
    padding: 1rem;
    cursor: default;
}

@mixin show-card-styles($bg-color, $border-color, $hover-shadow) {
    display: flex;
    background: $bg-color;
    border-radius: 0.5%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    height: 230px;
    border: 2px solid transparent;

    &:hover {
        @include card-hover($border-color, $hover-shadow);
    }

    img {
        width: 150px;
        height: 230px;
        object-fit: cover;
    }

    .content {
        flex: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 1rem;

        h3 {
            margin: 0;
            font-size: 1.5rem;
        }

        .favorite-icon {
            height: 1.2rem;
            width: auto;
        }

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    .summary {
        color: $summary-color-dark;
        flex: 1;
        overflow: hidden;
        margin-bottom: 1rem;
        font-size: 0.9rem !important;
        text-align: left;
        
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .rating {
            color: $summary-color-dark;
            font-size: 0.9rem !important;
            p {
                margin: 0.2rem;
            }
        }

        .genres {
            text-align: right;
            font-style: italic;
            color: $summary-color-dark;
            font-size: 0.9rem !important;
        }
    }
}

.show-card {
    @include show-card-styles($card-bg-dark, $border-hover-dark, $shadow-hover-dark);
}

.light-theme {
    .show-card {
        @include show-card-styles(#f0efef, $border-hover-light, $shadow-hover-light);
    }

    .header {
        color: $header-color-light !important;
    }

    .footer {
        .genres,
        .rating {
            color: $summary-color-light;
        }
    }
}