$dark-bg: #1C1B22;
$dark-txt: #fff;
$light-bg: #f0f0f0;
$light-txt: #1C1B22;

$logo-bg: #9C29F2;
$light-filters-bg: #D3D3D3;
$dark-filters-bg: #2B2A32;


$control-height: 40px;
$border-radius: 50px;
$menu-radius: 15px;
$padding: 15px;
$arrow-size: 0.8em;
$transition-speed: 0.2s;